<h1>Contact Us</h1>


<h4>Feel free to contac us 24/7 if you have any issues with the site.</h4>
<p> </p><%= image_tag 'Question.png', :alt => 'Question', :align => 'right' =%> 
<h5> We are here to help :)</h5>
<BR>
	<BR>
		<BR>


<p> Email:</p>
<a href="mailto:Support@BookEvent.com">Support@BookEvent.com</a>
<BR>
	<BR>
<BR>


<p>Address: </p>
<p>975 S Myrtle Ave </p>
<p> Tempe, AZ, 85381</p>
 <a href="https://www.google.com/maps/place/Lattie+F.+Coor+Hall,+Arizona+State+University,+Tempe+Campus,+975+S+Myrtle+Ave,+Tempe,+AZ+85281/@33.4193806,-111.9373176,17z/data=!3m1!4b1!4m2!3m1!1s0x872b08dbb4be56c7:0x9c575795522777ab" data-confirm="Do You want to leave this awesome site?">Map it!</a>
<BR>
	<BR>
	<BR>
<p>Phone: </p>
<p>480-123-5467</p>


