


<h1>                    ......Welcome to BookEvent......</h1>
<p></p>
<p></p>
<p>Book Event allows you to browse and find new events in your city,</p><%= image_tag 'logo.png', :alt => 'logo', :align => 'right' =%> 
<p>you can book an event and add it to your profile.</p>
<p>Try it!, simply <a href="/users/sign_in">Log in</a> or <a href="/users/sign_up">Sign up</a> and start Booking your Events</p><BR>
<%= link_to image_tag("calendar.png"), "/mainevents" =%>



